.scrollToTop {
    z-index: 30;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(72, 24, 89, 0.4);
    color: rgba(72, 24, 89, 0.95);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all .2s ease;
    .arrowUp{
        width: 30px;
        height: 30px;
        padding: 10px;
    }
}