.resume {
    position: relative;
    width: 100%;
    background-color: white;
    align-items: center;
    top: -10px;

    .content {
        position: relative;
        width: 100%;
        // background-color:green;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0;
    }

    .resume-col{
        width: 80%;
    }

    .resumeSection{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .dataArea{
        padding-left: 20px;
        // margin-top: -2px;
        border-left: 2px solid rgba(72, 24, 89,.8);
        position: relative;
        font-size: 16px;

    }

    .dataArea::before{
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -10px;
        top: 0px;
        background: #fff;
        border: 2px solid rgba(72, 24, 89,.8);
    }

    .subHeading{
        font-size: 28px;
        margin: 20px 0;
    }

    .subSubHeading{
        position: relative;
        top: -5px;
        font-size: 24px;
        font-weight: bold;
        color: rgba(72, 24, 89,.8);
    }

    .summaryPart{
        font-size: 16px;
    }
    .companyName{
        font-weight: 600;
    }

    .summaryList{
        list-style-type: square;
        margin: 20px;
        font-size: 16px;
    }

    .year{
        font-weight: 800;
        font-size: 16px;
        margin: 5px 10px 5px 0;
        padding: 5px;
        background: #f7f8f9;
    }

    .percentMarks{
        margin: 5px
    }

    .percText{
        font-weight: 600;
    }

    .pubTitle{
        font-weight: 600;
        font-style: italic;
    }

    .time{
        font-weight: 600;
        font-size: 14px;
        margin: 5px 10px 5px 5px;
        padding: 5px;
        background: #f7f8f9;
    }

    .pubText{
        font-style: italic;
    }
        
    .companySummary{
        font-size: 18px;
        margin: 10px 0;
    }

    .sumText{
        border-bottom: rgb(128, 128, 128,.5) 2px solid;
    }
    
    .detailsButton{
        background-color: rgba(98, 73, 107, 0.9);
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 2px;
        cursor:pointer;
        transition: all .5s ease;
        font-weight: 600;
    }

    .detailsButton:hover {
        background-color: rgba(142, 104, 156, 0.9);
        color: rgb(53, 53, 53);
        transition: all .5s ease;
    }

    .backgroundOnOpen{
        z-index: 40;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.2);
    }

    .jobDetails{
        z-index: 50;
        width: 90%;
        padding: 60px 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.98);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
        .infoRow {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 5px;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
        }
    
        .mark{
            color: rgba(72, 24, 89,.8);
            font-size: 25px;
            padding-left: 10px;
            font-weight: bold;
        }
    
        .infoTitle{
            font-size: 20px;
            font-weight: bold;
        }

        .close{
            position: absolute;
            top: 5px;
            right: 5px;
            height: 40px;
            width: 40px;
            padding: 10px ;
            cursor: pointer;
        }

        .line{
            height: 2px;
            width: 80%;
            background-color: rgb(112, 108, 108, .8);
            margin: 10px 0;
        }
        
        .learning{
            text-align: center;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .learnedTitle{
            margin: 10px 0;
            font-size: 18px;
            font-weight: 800;
            color: rgba(72, 24, 89,.8);
        }

        .learnedItem{
            font-size: 16px;
            font-weight: 800;

        }
    }
}

@media screen and (min-width:769px)
{
    .resume{

        .content{
            position: relative;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            margin-bottom: 40px ;
            
        }

        .resume-col{
            width: 40%;
        }

        .summary{

        }

        .jobDetails{
            width: 50%;
            // height: 400px;    
            padding: 40px;    
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            .infoRow {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 10px 20px;
            }
        
            .mark{
                color: rgba(72, 24, 89,.8);
                font-size: 25px;
                font-weight: bold;
            }
        
            .infoTitle{
                font-size: 20px;
                font-weight: bold;
            }
    
        }
    }
}