.about {
    .infoRow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 10px 5px;
    }

    .mark{
        color: rgba(72, 24, 89,.8);
        font-size: 25px;
        font-weight: bold;
    }

    .infoTitle{
        font-size: 20px;
        font-weight: bold;
    }



}

@media screen and (min-width:769px)
{
    .about {

        .infoRow {
            margin: 20px 5px;
            height: 40px;

        }
    }

}