.footer {
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: white;
    height: 40px;
    top:-10px;
    // bottom: 5px;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
    color: rgba(72, 24, 89,1);
    
}