@import url(https://fonts.googleapis.com/css2?family=Concert+One&family=Open+Sans:wght@300&family=PT+Sans:wght@400;700&display=swap);

$base-color: rgba(113, 40, 139, 0.8);

.App{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    height: 100%;
    width: 100%;
    // background-color: white;
}

.mainLoader{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.BackgroundImageLoader{
    position: fixed;
    width: 100vw;
    height: 100vh;
	top: 0;
	left: 0;
	z-index: 5;
    background-color: white;
}

.homeTitle {
    font-family: 'Concert One', cursive;
}

.heading {
    font-family: 'PT Sans', sans-serif;
    color: #45505b;
    font-size: 30px;
    font-weight: bold;
}

.heading::after {
    content: '';
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    background: $base-color ;
    left: calc(50% - 25px);
}

.heading::before{
    content: '';
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    top: 42px;
    left: calc(50% - 60px);
}

.subHeading{
    font-family: 'PT Sans', sans-serif;
    color: rgba(75, 65, 79,.9);
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
}

.semi-bold{
    font-weight: 600;
}

/* unvisited link */
a:link {
    color: unset;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: unset;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: unset;
    text-decoration: none;
}

/* selected link */
a:active {
    color: unset;
    text-decoration: none;
}

@media screen and (min-width:769px)
{   

    .App{
        font-size: 18px;
        font-weight: 500;

    }

    .heading {
        font-size: 40px;
    }

    .heading::before{
        content: '';
        position: relative;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        top: 55px;
        left: calc(50% - 60px);
    }

    .subHeading{
        font-size: 28px;
        font-weight: bold;
        margin: 5px 0;
    }
    
    
}

.h100{
    height: 100%;
}

.w100{
    width: 100%;
}

.w25{
    width: 25%;
}

.w20{
    width: 20%;
}

.w35{
    width: 35%;
}

.w30{
    width: 30%;
}

.vh100{
    height: 100vh;
}

.vw100{
    width: 100vw;
}

.m-10{
    margin: 10px;
}

.m-20{
    margin: 20px;
}

.m-auto{
    margin: auto;
}

.p-10{
    padding: 10px;
}

.p-20{
    padding: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x-center{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.y-center{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text-center{
    text-align: center;
}

.center-fixed{
    position: fixed;
    top: 35%;
    left: 35%;
}

ul{
    list-style-type: none ;
    margin-block-start: unset ;
    margin-block-end: unset ;
    margin-inline-start: unset ;
    margin-inline-end: unset ;
    padding-inline-start: unset ;
}

::-webkit-scrollbar{
    width:9px;
    background: rgba(90, 0, 23,.5);    
}

::-webkit-scrollbar-thumb{
// background: linear-gradient(transparent 10%, rgba(60, 4, 120,1) 90%);
background:  rgba(60, 4, 120,.8) ;
// border-radius: 6px;
transition: all 1s ease-in-out;
}

// ::-webkit-scrollbar-thumb:hover{
// // background: linear-gradient(transparent, rgba(90, 0, 23,1));

// }

@keyframes ldio-tud414hs6f {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-tud414hs6f div {
  position: absolute;
  width: 89.69999999999999px;
  height: 89.69999999999999px;
  border: 6.8999999999999995px solid #1d3f72;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-tud414hs6f div {
  animation: ldio-tud414hs6f 2.127659574468085s linear infinite;
  top: 114.99999999999999px;
  left: 114.99999999999999px
}
.loadingio-spinner-rolling-vulbiq9juz {
  width: 230px;
  height: 230px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-tud414hs6f {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-tud414hs6f div { box-sizing: content-box; }

