.dropDownNav {
    height: 100%;
}

.forClose{
  position:fixed;
  top:0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;
}
.dropDownNav {
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    

    button {
        outline: none;
        border: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        position: absolute;
        top: 18px;
        left: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: transparent;
      }
      
      ul,
      li {
        margin: 0;
        padding: 0;
      }
      
      .list {
        z-index: 10;
        padding: 25px;
        position: absolute;
        width: 230px;
        
      }
      
      li {
        list-style: none;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      
      .icon-placeholder {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        flex: 40px 0;
        margin-right: 20px;
      }
      
      .text-placeholder {
        border-radius: 5px;
        width: 200px;
        height: 20px;
        flex: 1;
      }
      
      .refresh {
        padding: 10px;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .item {
        width: 150px;
        margin:5px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(128, 128, 128, .5);
        border-radius: 5px ;
        transition: all .5s ease;

    }

    .linkIcon {
        height: 30px;
        width: 30px;
        color: black;
        padding: 10px;
        transition: all .5s ease;
    }

    .iconText {
        border-radius: 0;
        color: black;
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px;
        padding-right: 10px;
        transition: all .5s ease;
    }


    .active {
        transition: all .5s ease;
        background-color: rgba(72, 24, 89,1);
        .linkIcon {
            color: white;
        }
    
        .iconText {
            color: white;
        }
    }

}

nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
  }
  

@media screen and (min-width:769px)
{
    .dropDownNav {
        display: none;
    }
}